@model ResourceEntity.Models.Project

@{
    ViewData["Title"] = "Đăng ký dự án";

}
@*KHông sử dụng*@


<h4>Đăng ký dự án</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterProject" method="post">
            <div class="card panel panel-success">
                <div class="panel panel-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @*<div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>*@

                    <div class="input-group input-group-static">
                        <label>Project Name</label>
                        <input class="form-control" placeholder="ex: project A" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectDescription" class="control-label"></label>
                        <input asp-for="ProjectDescription" class="form-control" />
                        <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectClient" class="control-label"></label>
                        <input asp-for="ProjectClient" class="form-control" />
                        <span asp-validation-for="ProjectClient" class="text-danger"></span>
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

